name: CI

on:
  push:
    branches: [ main ]
  
  workflow_dispatch:
  
jobs:

  CI:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup do NodeJS
        uses: actions/setup-node@v3.5.1
        with: 
          node-version: 16.15.1      
          
      - name: Instalação do Mocha e pacotes para teste
        run:
          cd src;
          npm install -g mocha;
          npm install
          
      - name: Execução do teste
        run: mocha src/test/convert.js
        
      - name: Docker Login
        uses: docker/login-action@v2.1.0
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PASSWORD}}
        
      - name: Construção da imagem Docker
        uses: docker/build-push-action@v3.2.0
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          tags: 
            alvarino/conversao-temperatura-2-main:latest

